@charset "UTF-8";

html {
  width: 100%;
}

body {
  color: #313131;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-size: 14.5px;
  line-height: 1.5;
}

header {
  background: linear-gradient(to bottom, #228b22, #007800);
  padding-top: 21px;
	padding-bottom: 21px;
}
header h1 {
  width: 90%;
  margin: auto;
  color: #ffffff;
  font-size: 20px;
	letter-spacing: 2px;
}

nav {
  background: #228b22;
  border-top: 0.5px solid #ffffff;
	border-bottom: 0.5px solid #228b22;
	margin-bottom: 20px;
	overflow: hidden;
}
nav ul {
	list-style: none;
}
nav li {
	width: 25%;
	border-left: 0.5px solid #ffffff;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
nav li:first-child {
  border-left: none;
}
nav a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 42px;
  transition-duration: 0.5s;
}
nav a:hover {
	background: #ffffff;
	color: #228b22;
  transition-duration: 0.3s;
}

.section {
	width: 90%;
  margin: auto;
	margin-bottom: 16px;
}
.section h2 {
  padding-bottom: 1.5px;
  border-bottom: 1px solid #bababa;
  margin-bottom: 12px;
	font-size: 16px;
  letter-spacing: 2px;
}
.section p {
  width: 96%;
  margin: auto;
  letter-spacing: 0.5px;
	line-height: 1.7;
}
.section ul {
  width: 96%;
  margin: auto;
  letter-spacing: 0.5px;
	line-height: 1.7;
  list-style: none;
}
.link_icon {
  padding-top: 8px;
  padding-bottom: 28px;
}
.link_icon li {
  padding-right: 12px;
  float: left;
}
.section a {
  text-decoration: none;
  transition-duration: 0.4s;
}
.section a:hover {
  text-decoration: underline;
}
.link_icon a {
  color: #313131;
}
.link_icon a:hover {
  font-size: 120%;
  text-decoration: none;
}
.mgr_10 {
  margin-right: 9px;
}

#date {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 3px;
  text-align: right;
}
#date p {
  font-size: 7px;
  letter-spacing: 1.5px;
}

footer {
  background: #228b22;
	padding-bottom: 4px;
  text-align: center;
}
footer small {
	color: #ffffff;
  font-size: 7px;
  letter-spacing: 1.5px;
}
